body{
    background-color: black;
    color: white;
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    top: 0;
}


div{
    padding: 2rem;
    font-size: xx-large;
}

button{
    width: 5rem;
    padding: 1rem;
    background-color: black;
    color: white;
    font-size: x-large;
    font-weight: 600;
    border-radius: .5rem;
}

input{
    width: 25%;
    margin-bottom: 0;
    margin: 1rem 2rem;
    padding: .25rem;
    border-radius: 1rem;
    text-align: center;
    font-size: large;
}
.input{
    margin: 1rem 0;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.operators{
    padding: 0;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    row-gap: 2rem;
}

.input{
    width: 50%;
    text-align: center;
}